body {
    background-color: black;
}

img {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    
}

#titulo {

    margin: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;

}

#frase {
    margin: 3rem;
    text-align: center;


}

#boton {
margin-left: 45%;
}